// Body
$body-bg: #f8fafc;

$primary: #3c2f75;
$secondary: #1ba1cd;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
p {
    font-family: 'Lato';
}
$font-size-base: 0.9rem;
$line-height-base: 1.6;

